@font-face {
  font-family: "HARRYP";
  src: url("../../fonts/HARRYP.ttf") format("truetype");
}

* {
  font-family: "HARRYP", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
