.charactersList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 20px;
  list-style: none;
  align-items: center;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }

  &__card {
    text-align: center;
    &--image {
      width: 100px;
      height: 140px;
      @media (min-width: 768px) {
        width: 145px;
        height: 195px;
      }
    }
    &--title {
      text-decoration: none;
      color: rgb(126, 105, 42);
      @media (min-width: 768px) {
        font-size: 25px;
      }
    }
    &--text {
      text-decoration: none;
      color: rgb(41, 37, 37);
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
