@import "../core/variables";

.header {
  padding-top: 40px;

  @media (min-width: 768px) {
    padding-top: 50px;
  }
  &__title {
    text-align: center;
    font-size: 60px;
    color: rgb(146, 131, 85);
    text-shadow: 2px 2px 2px rgb(185, 178, 178);
    @media (min-width: 768px) {
      font-size: 100px;
    }
    @media (min-width: 1024px) {
      font-size: 150px;
    }
  }
}
