@import "../core/variables";

.header {
  padding-top: 40px;
  background-color: rgb(177, 170, 170);
  @media (min-width: 768px) {
    padding-top: 50px;
  }
  &__title {
    text-align: center;
    font-size: 60px;
    color: rgb(126, 105, 42);
    text-shadow: 2px 2px 2px rgb(21, 21, 22);
    @media (min-width: 768px) {
      font-size: 100px;
    }
  }
}
